<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Diagnóstico de Agua</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <h1>Diagnóstico de Calidad de Agua 💧</h1>
    <form action="/resultado" method="POST">
        <label>pH:</label><br>
        <input type="number" name="ph" step="0.01" required><br><br>

        <label>Color (Unidades Pt-Co):</label><br>
        <input type="number" name="color" required><br><br>

        <label>Turbidez (NTU):</label><br>
        <input type="number" name="turbidez" step="0.01" required><br><br>

        <label>Conductividad (μS/cm):</label><br>
        <input type="number" name="conductividad" step="0.01" required><br><br>

        <label>Oxígeno Disuelto (mg/L):</label><br>
        <input type="number" name="oxigeno" step="0.01" required><br><br>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>
