<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justificacion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='contendmenu.css') }}">
</head>
<body>
      <section class="pantalla-completa">
        <div class="cuadro sombra">
            <h2>Justificacion</h2>
            <p>Hemos elegido la ODS 6: Agua limpia y saneamiento porque consideramos que el acceso al agua potable es un derecho fundamental y uno de los desafíos más urgentes que enfrenta el mundo actual. A pesar de los avances tecnológicos, millones de personas aún no tienen acceso a agua segura, lo que repercute directamente en la salud pública, el desarrollo sostenible y la calidad de vida.
Desde nuestra formación como ingenieros de sistemas, queremos aportar soluciones tecnológicas que generen impacto social. Por eso, desarrollamos una aplicación que, mediante inteligencia artificial y aprendizaje automático, permita a los usuarios evaluar la potabilidad del agua con base en datos reales como pH, turbidez, minerales disueltos, entre otros.
Este proyecto no solo promueve el uso responsable del agua, sino que también fomenta la conciencia ambiental y el empoderamiento ciudadano al brindar herramientas tecnológicas accesibles que pueden usarse incluso en comunidades vulnerables o en campañas educativas.
De esta manera, contribuimos directamente al cumplimiento de la ODS 6, alineando nuestras capacidades técnicas con un propósito social.</p>
        </div>   
    </div>
</section>
    
</body>
</html>