<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
<div class="contenedor-presentacion">
    <div class="cuadro-presentacion">
        <h1>Modelo de machine learning (XGBoost) para la clasificación del agua</h1>
        <h2>Tratabilidad y potabilidad del recurso hídrico</h2>
        <p><strong>Integrantes:</strong>David Santiago Arias Ramirez</p>
        <p><strong>Docente:</strong> Ing. Edison Gustavo Canon Varela</p>
        <p><strong>Asignatura:</strong> Machine Learning</p>
        <p><strong>Universidad:</strong> Universidad de Cundinamarca-Extension Chia</p>
        <p><strong>Semestre:</strong> 2025 - semestre I</p>
    </div>
</div>
<div class="menu">
    <ul class="menu-content">
        <li><a href="{{ url_for('index') }}"><span class="material-symbols-outlined">campaign</span><span>Campaña</span></a></li>
        <li><a href="{{ url_for('ods') }}"><span class="material-symbols-outlined">dashboard</span><span>ODS</span></a></li>
        <li><a href="{{ url_for('viabilidad') }}"><span class="material-symbols-outlined">explore</span><span>Analisis de Viabilidad</span></a></li>
        <li><a href="{{ url_for('justificacion') }}"><span class="material-symbols-outlined">analytics</span><span>Justificacion</span></a></li>
        <li><a href="{{ url_for('objetivoneg') }}"><span class="material-symbols-outlined">settings</span><span>Objetivo De Negocio</span></a></li>
        <li><a href="{{ url_for('preguntas') }}"><span class="material-symbols-outlined">person</span><span>Preguntas Claves</span></a></li>
        <li><a href="{{ url_for('evaluacion') }}"><span class="material-symbols-outlined">report</span><span>Evaluacion De Datos</span></a></li>
    </ul>
</div>
</body>
</html>
