<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objetivo de negocio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='contendmenu.css') }}">
</head>
<body>
      <section class="pantalla-completa">
        <div class="cuadro sombra">
            <h2>¿Quiénes somos?</h2>
            <p>El Machine Learning supervisado tiene muchos casos de uso en distintas industrias. Aquí algunos ejemplos:</p>
        </div>   
    </div>
</section>
</body>
</html>