<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='contendmenu.css') }}">
</head>
<body>
      <section class="pantalla-completa">
        <div class="cuadro sombra">
            <h2>ODS</h2>
            <p>La escasez de agua afecta a más del 40 % de la población mundial, una cifra alarmante que probablemente crecerá con el aumento de las temperaturas globales producto del cambio climático. Aunque 2.100 millones de personas han conseguido acceso a mejores condiciones de agua y saneamiento desde 1990, la decreciente disponibilidad de agua potable de calidad es un problema importante que aqueja a todos los continentes.
Cada vez más países están experimentando estrés hídrico, y el aumento de las sequías y la desertificación ya está empeorando estas tendencias. Se estima que al menos una de cada cuatro personas se verá afectada por escasez recurrente de agua para 2050.
Con el fin de garantizar el acceso universal al agua potable segura y asequible para todos en 2030, es necesario realizar inversiones adecuadas en infraestructura, proporcionar instalaciones sanitarias y fomentar prácticas de higiene.
Asegurar el agua potable segura y asequible universal implica llegar a más de 800 millones de personas que carecen de servicios básicos y mejorar la accesibilidad y seguridad de los servicios por más de dos mil millones.
En 2015, 4.500 millones de personas carecían de servicios de saneamiento administrados de manera segura (con excrementos adecuadamente dispuestos o tratados) y 2.300 millones carecían incluso de saneamiento básico.</p>
        </div>   
    </div>
</section>
</body>
</html>