<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas Clave</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='contendmenu.css') }}">
</head>
<body>
      <section class="pantalla-completa">
        <div class="cuadro sombra">
            <h2>Preguntas Clave</h2>
            <p>1. ¿Es el agua evaluada segura para el consumo humano?
Esta es la pregunta central del modelo. A partir de diversas características físico-químicas del agua, el modelo determina si cumple con las condiciones necesarias para ser considerada potable.</p>
<p>
2. ¿Qué variables influyen más en la potabilidad del agua?
A través del análisis de los datos y la importancia de las variables en el modelo XGBoost, se busca identificar cuáles factores (como el pH, las cloraminas o los trihalometanos) tienen mayor impacto en la predicción.
</p>
<p>
3. ¿Se puede automatizar la evaluación de calidad del agua utilizando machine learning?
El proyecto intenta demostrar que es posible aplicar modelos supervisados para clasificar la calidad del agua de manera rápida y eficiente.
</p>
<p>
4. ¿Qué tan confiable es el modelo al predecir la potabilidad del agua en nuevos datos?
Se analiza la precisión del modelo para saber si es aplicable en contextos reales y qué margen de error tiene.
</p>
<p>
5. ¿Cómo puede esta tecnología contribuir a mejorar el acceso a agua limpia en comunidades vulnerables?
Se explora el impacto social del uso de modelos predictivos como herramienta de diagnóstico para mejorar la toma de decisiones sobre el agua.
</p>
        </div>   
    </div>
</section>
</body>
</html>
