<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resultado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='resul.css') }}">
</head>
<body>
    <h1>Resultado del Diagnóstico 🧪</h1>
    <p>{{ prediccion }}</p> <section class="contenedor-acciones sombra">
        <h2>¿Qué hacer si tu agua está contaminada?</h2>
        <div class="contenedor-cuadros-acciones sombra">
            <div class="contenedor-acciones ">
  <!-- Cuadros superiores -->
  <div class="contenedor-cuadros-acciones">
    <div class="cuadro-accion sombra">
      <h3>No consumir</h3>
      <p>Evita beber o usar el agua para cocinar inmediatamente.</p>
    </div>
    <div class="cuadro-accion sombra">
      <h3>Informar</h3>
      <p>Contacta a las autoridades locales o a la empresa de suministro de agua.</p>
    </div>
    <div class="cuadro-accion sombra">
      <h3>Buscar alternativas</h3>
      <p>Utiliza agua embotellada o de fuentes seguras hasta que se solucione el problema.</p>
    </div>
    <div class="cuadro-accion sombra">
      <h3>Seguir indicaciones</h3>
      <p>Atiende las recomendaciones de los expertos y las autoridades.</p>
    </div>
  </div>

  <!-- Cuadro inferior -->
  <div class="cuadro-accion cuadro-inferior sombra">
    <h3>
      Si el resultado indica que el agua no es apta para el consumo humano, puedes aplicar alguno de los siguientes tratamientos caseros o comunitarios para mejorar su calidad:
    </h3>
    <ul>
      <li>Hervir el agua durante al menos 5 minutos para eliminar bacterias y virus.</li>
      <li>Filtración con carbón activado o arena para reducir sedimentos y contaminantes.</li>
      <li>Uso de pastillas de cloro o soluciones purificadoras según indicaciones del producto.</li>
      <li>Decantación y exposición al sol (SODIS): dejar el agua en botellas PET transparentes bajo el sol por 6 horas.</li>
      <li>Agregar sales minerales (cuando es tratada y necesita reequilibrar su composición).</li>
    </ul>
  </div>
</div>
    </section>

    <a href="/">Volver al inicio</a>
</body>
</html>
