<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viabiliadad</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='contendmenu.css') }}">
</head>
<body>
      <section class="pantalla-completa">
        <div class="cuadro sombra">
            <h2>Analisis Viabilidad</h2>
            <p>Viabilidad Técnica
Modelo ML: Se implementó un modelo de clasificación binaria (XGBoost) debido a su alto rendimiento y capacidad para manejar datos con relaciones no lineales y valores faltantes. El sistema fue desarrollado en Python usando Flask como framework web, lo que permite su despliegue tanto en servidores locales como en servicios en la nube, siendo ligero permitiéndole ejecutarse en equipos de gama media, lo cual facilita su implementación en contextos educativos o gubernamentales con recursos limitados, con una interfaz amigable, se desarrolló una interfaz web simple y funcional que permite a los usuarios ingresar parámetros del agua y obtener resultados fácilmente, sin necesidad de conocimientos técnicos avanzados.</p>
<p>
    Viabilidad Organizacional
Alineación con los ODS: El proyecto apoya directamente el Objetivo de Desarrollo Sostenible N.° 6 (Agua limpia y saneamiento), promoviendo conciencia y soluciones prácticas para el monitoreo del agua.
Aplicabilidad en instituciones: Puede ser utilizado por alcaldías, instituciones educativas y ONGs para educar sobre la calidad del agua e identificar zonas en riesgo.
Colaboración interdisciplinaria: El proyecto puede integrarse con iniciativas de ingeniería ambiental, salud pública y tecnología, facilitando su adopción y expansión.
</p>
<p>
    Limitaciones y Riesgos
Calidad de los datos de entrada: El modelo depende de la precisión de los datos ingresados. Lecturas incorrectas o estimaciones mal realizadas pueden generar resultados inexactos.
Generalización del modelo: El modelo fue entrenado con un dataset específico. Para mejorar su precisión en contextos locales, puede requerir reentrenamiento con datos propios de la región.
Falta de sensores en tiempo real: Actualmente, la entrada de datos es manual. Integrar sensores IoT sería ideal, pero puede representar una barrera económica o técnica.
Mantenimiento del sistema: Requiere personal con conocimientos básicos en Python y Flask para mantener el sistema actualizado.
</p>
        </div>   
    </div>
</section>
</body>
</html>